/* ====================================== _____________ Variables Styles _____________ ====================================== */
/* ====================================== _____________ Variables Styles _____________ ====================================== */
/* ====================================== _____________ Functions Styles _____________ ====================================== */
/* ====================================== _____________ Functions Styles _____________ ====================================== */
/* ====================================== _____________ Mixin Styles _____________ ====================================== */
@-webkit-keyframes inputHighlighter {
  from {
    background: #fdfdfd;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #fdfdfd;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-o-keyframes inputHighlighter {
  from {
    background: #fdfdfd;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #fdfdfd;
  }
  to {
    width: 0;
    background: transparent;
  }
}
/* ====================================== _____________ Mixin Styles _____________ ====================================== */
/* ====================================== _____________ Classes Styles _____________ ====================================== */
.container_manual {
  width: 95%;
  margin: auto;
  padding: 0 15px;
}
.navbar .container_manual {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 576px) {
  .container_manual {
    width: 100%;
  }
}

section:not(.banner) {
  padding: 50px 0;
}
@media (max-width: 767px) {
  section:not(.banner) {
    padding: 25px 0;
  }
}

.mainTitle {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 20px;
  font-weight: bold;
}

.title {
  font-size: 1.6rem;
  margin-bottom: 15px;
  font-weight: 400;
  text-transform: uppercase;
}
.title.hr {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
}

.subTitle {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}

p,
.p {
  font-size: 1rem;
  font-weight: 300;
  color: #5c5555;
  margin-bottom: 15px;
}

.sm_link {
  font-size: 0.9rem;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
  position: relative;
  padding-bottom: 2px;
  transition: all 0.3s ease-in-out;
}
.sm_link::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0;
  height: 1.5px;
  background-color: #e51937;
  transition: all 0.3s ease-in-out;
}
.sm_link:hover {
  color: #fff;
}
.sm_link:hover::before {
  width: 100%;
}
.sm_link:hover {
  text-decoration: none;
  color: #e51937;
}

.arrow_link {
  display: inline-flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.arrow_link .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #e51937;
  color: #fff;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}
.arrow_link .arrow.whtBgColor {
  background-color: #fff;
  color: #e51937;
}
.arrow_link .text {
  color: #5c5555;
  transition: all 0.3s ease-in-out;
}
.arrow_link .text.whtColor {
  color: #fff;
}
.arrow_link:hover {
  opacity: 0.8;
}

.font_light {
  font-weight: 300;
}

.font_regular {
  font-weight: 400;
}

.font_semi_bold {
  font-weight: 500;
}

.font_bold {
  font-weight: 800;
}

.mainColor {
  color: #e51937;
}

.whtColor {
  color: #fff;
}

.blkColor {
  color: #000;
}

.textColor {
  color: #5c5555;
}

.offWhtColor {
  color: #a7a3a2;
}

.mainBgColor {
  background-color: #e51937;
}

.blkBgColor3 {
  background-color: #1f1f1f;
}

.grayBgColor {
  background-color: #f3f3f0;
}

.w_70 {
  width: 70%;
}

.zoomin {
  position: relative;
  overflow: hidden;
}
.zoomin img {
  transition: all 0.5s ease-in-out;
}
.zoomin img:hover {
  transform: scale(1.05);
}

.font_sm {
  font-size: 0.9rem;
}

/* ====================================== _____________ Classes Styles _____________ ====================================== */
.mainBg {
  background-color: #dddddd;
}

.secBg {
  background-color: white;
}

.paddingSection {
  padding: 4rem 0;
}

.innerPadding {
  padding: 2.5rem 3.5rem;
}

@media (max-width: 568px) {
  .innerPadding {
    padding: 1.5rem 1.5rem;
  }
}
.upper {
  text-transform: uppercase;
}

/* ====================================== _____________ Reset Styles _____________ ====================================== */
* {
  outline: 0 !important;
  box-shadow: none !important;
}

html {
  font-size: 100%;
}
@media (max-width: 576px) {
  html {
    font-size: 85%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  html {
    font-size: 88%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 90%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 95%;
  }
}

body {
  font-family: "Avenir LT Std";
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
}

/* ====================================== _____________ Reset Styles _____________ ====================================== */
/* ====================================== _____________ Fonts Styles _____________ ====================================== */
@font-face {
  font-family: "Avenir LT Std";
  src: url("fonts/AvenirLTStd-Black.eot");
  src: url("fonts/AvenirLTStd-Black.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-Black.woff2") format("woff2"), url("fonts/AvenirLTStd-Black.woff") format("woff"), url("fonts/AvenirLTStd-Black.ttf") format("truetype"), url("fonts/AvenirLTStd-Black.svg#AvenirLTStd-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir LT Std";
  src: url("fonts/AvenirLTStd-BlackOblique.eot");
  src: url("fonts/AvenirLTStd-BlackOblique.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-BlackOblique.woff2") format("woff2"), url("fonts/AvenirLTStd-BlackOblique.woff") format("woff"), url("fonts/AvenirLTStd-BlackOblique.ttf") format("truetype"), url("fonts/AvenirLTStd-BlackOblique.svg#AvenirLTStd-BlackOblique") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Avenir LT Std";
  src: url("fonts/AvenirLTStd-Book.eot");
  src: url("fonts/AvenirLTStd-Book.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-Book.woff2") format("woff2"), url("fonts/AvenirLTStd-Book.woff") format("woff"), url("fonts/AvenirLTStd-Book.ttf") format("truetype"), url("fonts/AvenirLTStd-Book.svg#AvenirLTStd-Book") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir LT Std";
  src: url("fonts/AvenirLTStd-Book_1.eot");
  src: url("fonts/AvenirLTStd-Book_1.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-Book_1.woff2") format("woff2"), url("fonts/AvenirLTStd-Book_1.woff") format("woff"), url("fonts/AvenirLTStd-Book_1.ttf") format("truetype"), url("fonts/AvenirLTStd-Book_1.svg#AvenirLTStd-Book") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir LT Std";
  src: url("fonts/AvenirLTStd-Oblique.eot");
  src: url("fonts/AvenirLTStd-Oblique.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-Oblique.woff2") format("woff2"), url("fonts/AvenirLTStd-Oblique.woff") format("woff"), url("fonts/AvenirLTStd-Oblique.ttf") format("truetype"), url("fonts/AvenirLTStd-Oblique.svg#AvenirLTStd-Oblique") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Avenir LT Std";
  src: url("fonts/AvenirLTStd-Medium.eot");
  src: url("fonts/AvenirLTStd-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-Medium.woff2") format("woff2"), url("fonts/AvenirLTStd-Medium.woff") format("woff"), url("fonts/AvenirLTStd-Medium.ttf") format("truetype"), url("fonts/AvenirLTStd-Medium.svg#AvenirLTStd-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir LT Std";
  src: url("fonts/AvenirLTStd-Heavy.eot");
  src: url("fonts/AvenirLTStd-Heavy.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-Heavy.woff2") format("woff2"), url("fonts/AvenirLTStd-Heavy.woff") format("woff"), url("fonts/AvenirLTStd-Heavy.ttf") format("truetype"), url("fonts/AvenirLTStd-Heavy.svg#AvenirLTStd-Heavy") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir LT Std";
  src: url("fonts/AvenirLTStd-LightOblique.eot");
  src: url("fonts/AvenirLTStd-LightOblique.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-LightOblique.woff2") format("woff2"), url("fonts/AvenirLTStd-LightOblique.woff") format("woff"), url("fonts/AvenirLTStd-LightOblique.ttf") format("truetype"), url("fonts/AvenirLTStd-LightOblique.svg#AvenirLTStd-LightOblique") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Avenir LT Std";
  src: url("fonts/AvenirLTStd-HeavyOblique.eot");
  src: url("fonts/AvenirLTStd-HeavyOblique.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-HeavyOblique.woff2") format("woff2"), url("fonts/AvenirLTStd-HeavyOblique.woff") format("woff"), url("fonts/AvenirLTStd-HeavyOblique.ttf") format("truetype"), url("fonts/AvenirLTStd-HeavyOblique.svg#AvenirLTStd-HeavyOblique") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Avenir LT Std";
  src: url("fonts/AvenirLTStd-Light.eot");
  src: url("fonts/AvenirLTStd-Light.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-Light.woff2") format("woff2"), url("fonts/AvenirLTStd-Light.woff") format("woff"), url("fonts/AvenirLTStd-Light.ttf") format("truetype"), url("fonts/AvenirLTStd-Light.svg#AvenirLTStd-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir LT Std";
  src: url("fonts/AvenirLTStd-MediumOblique.eot");
  src: url("fonts/AvenirLTStd-MediumOblique.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-MediumOblique.woff2") format("woff2"), url("fonts/AvenirLTStd-MediumOblique.woff") format("woff"), url("fonts/AvenirLTStd-MediumOblique.ttf") format("truetype"), url("fonts/AvenirLTStd-MediumOblique.svg#AvenirLTStd-MediumOblique") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Avenir LT Std";
  src: url("fonts/AvenirLTStd-BookOblique.eot");
  src: url("fonts/AvenirLTStd-BookOblique.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-BookOblique.woff2") format("woff2"), url("fonts/AvenirLTStd-BookOblique.woff") format("woff"), url("fonts/AvenirLTStd-BookOblique.ttf") format("truetype"), url("fonts/AvenirLTStd-BookOblique.svg#AvenirLTStd-BookOblique") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Avenir LT Std";
  src: url("fonts/AvenirLTStd-Roman.eot");
  src: url("fonts/AvenirLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-Roman.woff2") format("woff2"), url("fonts/AvenirLTStd-Roman.woff") format("woff"), url("fonts/AvenirLTStd-Roman.ttf") format("truetype"), url("fonts/AvenirLTStd-Roman.svg#AvenirLTStd-Roman") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* ====================================== _____________ Fonts Styles _____________ ====================================== */
/* ====================================== _____________ Global Styles _____________ ====================================== */
.banner.internal {
  position: relative;
  height: 350px;
  max-height: 350px;
}
.banner_bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  padding: 20px 0;
  color: #fff;
}
.banner_bar_title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: uppercase;
}
.banner_bar_share {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0;
  position: relative;
  padding-bottom: 2px;
  transition: all 0.3s ease-in-out;
}
.banner_bar_share::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0;
  height: 1.5px;
  background-color: #e51937;
  transition: all 0.3s ease-in-out;
}
.banner_bar_share:hover {
  color: #fff;
}
.banner_bar_share:hover::before {
  width: 100%;
}
.banner_bar_share i {
  margin-left: 5px;
}

.dropdown {
  position: relative;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown .dropdown-menu {
  right: 0;
  top: 90%;
  left: auto;
  min-width: 350px;
  padding: 12px 18px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.dropdown .dropdown-menu:hover {
  display: block;
}
@media (max-width: 576px) {
  .dropdown .dropdown-menu {
    right: -50%;
    transform: translateX(9%);
  }
}
.dropdown .dropdown-menu .dropdown_content_title {
  font-size: 0.9rem;
  padding-bottom: 5px;
  position: relative;
}
.dropdown .dropdown-menu .dropdown_content_title::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 15%;
  height: 1.5px;
  background-color: #e51937;
  z-index: 1;
}
.dropdown .dropdown-menu .dropdown_content .dropdown-item {
  padding: 0;
  padding-bottom: 5px;
  margin: 5px 0;
  color: #fff;
  transition: all 0.3s ease-in-out;
  position: relative;
  font-size: 0.9rem;
}
.dropdown .dropdown-menu .dropdown_content .dropdown-item::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0;
  transition: all 0.3s ease-in-out;
  height: 1px;
  background-color: #e51937;
}
.dropdown .dropdown-menu .dropdown_content .dropdown-item:hover {
  background-color: transparent;
}
.dropdown .dropdown-menu .dropdown_content .dropdown-item:hover::before {
  width: 50%;
}
.dropdown .dropdown-menu .dropdown-item {
  padding: 0;
  padding-bottom: 5px;
  margin: 5px 0;
  color: #fff;
  transition: all 0.3s ease-in-out;
  position: relative;
  font-size: 0.9rem;
}
.dropdown .dropdown-menu .dropdown-item::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0;
  transition: all 0.3s ease-in-out;
  height: 1px;
  background-color: #e51937;
}
.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
}
.dropdown .dropdown-menu .dropdown-item:hover::before {
  width: 100%;
}

.search_popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 992;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.search_popup_box {
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.search_popup_box .close {
  color: #fff;
  position: absolute;
  right: 5%;
  top: 5%;
}
.search_popup_box_form {
  display: flex;
  position: static !important;
  opacity: 1 !important;
  width: 100% !important;
}
.search_popup_box_form .form-group {
  width: 100%;
}
.search_popup_box_form .form-group label {
  font-size: 1rem;
  color: #fff;
}

.nav.nav-tabs {
  padding: 50px 0;
  border: 0;
  text-align: center;
  justify-content: center;
}
.nav.nav-tabs .nav-item .nav-link {
  border: none;
  position: relative;
  font-size: 0.9rem;
  color: #000;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.nav.nav-tabs .nav-item .nav-link:hover, .nav.nav-tabs .nav-item .nav-link.active {
  color: #e51937;
}
.nav.nav-tabs .nav-item .nav-link::after {
  position: absolute;
  content: "/";
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  font-weight: 400;
  color: #000;
}
.nav.nav-tabs .nav-item:last-of-type .nav-link::after {
  display: none;
}

.parent_float {
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap: 0px;
  -moz-column-count: 3;
  -moz-column-gap: 0px;
  column-count: 3;
  column-gap: 0px;
}
@media (max-width: 576px) {
  .parent_float {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .parent_float {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .parent_float {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

.gallery_focus {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  padding: 5px 5px;
}
.gallery_focus_link {
  display: block;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
}
.gallery_focus_link .overlay_gallery {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  transform: scaleX(0);
  transition: all 0.5s ease-in-out;
}
.gallery_focus_link:hover .overlay_gallery {
  transform: scaleX(1);
}

/* ====================================== _____________ Global Styles _____________ ====================================== */
/* ====================================== _____________ Buttons Styles _____________ ====================================== */
/* ====================================== _____________ Buttons Styles _____________ ====================================== */
/* ====================================== _____________ Slider Styles _____________ ====================================== */
/* ====================================== _____________ Slider Styles _____________ ====================================== */
/* ====================================== _____________ Slider Styles _____________ ====================================== */
.gallery_swiper {
  height: 500px;
  padding: 60px 0;
}
.gallery_swiper .swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.gallery_swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}
.gallery_swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #e51937;
}

.gallery_info_swiper {
  height: 400px !important;
  padding: 0;
}
.gallery_info_swiper .swiper-slide {
  height: 100%;
  background-size: cover;
  background-position: center;
}
.gallery_info_swiper .swiper-button-next:after, .gallery_info_swiper .swiper-button-prev:after {
  display: none;
}
.gallery_info_swiper .swiper-button-next, .gallery_info_swiper .swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e51937;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.gallery_info_swiper .swiper-button-next:hover, .gallery_info_swiper .swiper-button-prev:hover {
  background-color: #fff;
  color: #e51937;
}

.gallery-thumbs {
  height: 125px !important;
  padding: 0 !important;
}
.gallery-thumbs .swiper-slide {
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.gallery-thumbs .swiper-slide-thumb-active {
  border: 7px solid #e51937;
}

/* ====================================== _____________ Slider Styles _____________ ====================================== */
/* ====================================== _____________ Side Button Burger Styles _____________ ====================================== */
.side_button {
  margin-top: 0;
  width: 25px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  position: relative;
  z-index: 100;
  cursor: pointer;
}
.side_button span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: #a7a3a2;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.side_button span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}
.side_button span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}
.side_button span:nth-child(1), .side_button span:nth-child(2) {
  top: 0px;
}
.side_button span:nth-child(3), .side_button span:nth-child(4) {
  top: 8px;
}
.side_button span:nth-child(5), .side_button span:nth-child(6) {
  top: 16px;
}
.side_button.open span:nth-child(1), .side_button.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.side_button.open span:nth-child(2), .side_button.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.side_button.open span:nth-child(1) {
  left: 3px;
  top: 6px;
}
.side_button.open span:nth-child(2) {
  left: calc(50% - 3px);
  top: 6px;
}
.side_button.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
.side_button.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
.side_button.open span:nth-child(5) {
  left: 3px;
  top: 13px;
}
.side_button.open span:nth-child(6) {
  left: calc(50% - 3px);
  top: 13px;
}

.burger_menu:hover .burger_menu_text, .burger_menu.open .burger_menu_text {
  color: #fff;
}
.burger_menu:hover .side_button span, .burger_menu.open .side_button span {
  background-color: #fff;
}

/* ====================================== _____________ Side Button Burger Styles _____________ ====================================== */
.main_list ul li a span {
  color: grey;
  position: relative;
}
.main_list ul li:nth-child(2) {
  padding-bottom: 10px;
}
.main_list ul li:last-child a span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: grey;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.main_list ul li:last-child a span:hover::before {
  width: 0;
}

@media (max-width: 768px) {
  .main_list h5 {
    margin-bottom: 1rem;
  }
}
.modal_video.show .modal-dialog {
  max-width: 80%;
}
.modal_video.show .modal-dialog .modal-content {
  border: none;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.modal_video.show .modal-dialog button.close {
  text-align: right;
  padding: 10px 15px;
  background-color: #e51937;
  opacity: 1;
}
.modal_video.show .modal-dialog button.close span {
  color: white;
}

@media (max-width: 768px) {
  .modal_video.show .modal-dialog {
    margin: 0 auto;
  }
}
.video_coffee {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.video_coffee img {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.video_coffee .icon {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.video_coffee .icon i {
  color: #fff;
  background-color: #e51937;
  padding: 25px;
  border-radius: 50%;
  font-size: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.video_coffee:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

@media (max-width: 991px) {
  .video_content {
    padding-top: 1rem;
  }
}
@media (max-width: 768px) {
  .video_coffee i {
    padding: 20px !important;
    font-size: 10px !important;
  }
}
/* ====================================== _____________ Card Styles _____________ ====================================== */
.card {
  border: none;
  width: 100%;
  background-color: #fff;
}
.card_header {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  background-color: #fff;
}
.card_header img {
  width: 100%;
  height: 100%;
}
.card_body {
  background-color: #fff;
  padding: 0 20px 25px 20px;
}
.card_body_date {
  color: #e51937;
  display: block;
  margin-bottom: 15px;
}

/* ====================================== _____________ Card Styles _____________ ====================================== */
/* ====================================== _____________ Slider Styles _____________ ====================================== */
.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 101;
  overflow-y: scroll;
  height: 125vh;
  display: none;
}
.popup_box {
  width: 85%;
  height: 85%;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 25px;
}
.popup_box_close {
  position: absolute;
  right: -15px;
  top: -15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fff;
  color: #e51937;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.popup_box_close:hover {
  background-color: #e51937;
  color: #fff;
}
.popup_box_header {
  overflow: hidden;
}

/* ====================================== _____________ Slider Styles _____________ ====================================== */
/* ====================================== _____________ Grids Styles _____________ ====================================== */
/* ====================================== _____________ Grids Styles _____________ ====================================== */
/* ====================================== _____________ Header Styles _____________ ====================================== */
header {
  padding: 15px 0;
  transition: all 0.3s ease-in-out;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}
header.scrolled {
  padding: 8px 0;
  background-color: #111111;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) !important;
}
header.header_slide {
  background-color: rgba(0, 0, 0, 0.7);
}
header.header_slide.scrolled {
  background-color: #111111;
}
header.header_slide .navbar_list {
  border-bottom: 1px solid #a7a3a2;
  padding-bottom: 10px;
}
header .navbar {
  padding: 0;
  flex-direction: column;
}
header .navbar_brand img {
  width: 150px;
}
@media (max-width: 576px) {
  header .navbar_brand img {
    width: 80px;
  }
}
header .navbar_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
}
header .navbar_list_item {
  margin: 0 8px;
}
@media (max-width: 576px) {
  header .navbar_list_item {
    margin: 0 3px;
  }
}
header .navbar_list_item.search {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
header .navbar_list_item.search i {
  font-size: 1.1rem !important;
}
header .navbar_list_item.search.p_left {
  padding-left: 200px;
}
header .navbar_list_item_link {
  font-size: 0.9rem;
  color: #a7a3a2;
  position: relative;
  padding-bottom: 2px;
  transition: all 0.3s ease-in-out;
}
header .navbar_list_item_link::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0;
  height: 1.5px;
  background-color: #e51937;
  transition: all 0.3s ease-in-out;
}
header .navbar_list_item_link:hover {
  color: #fff;
}
header .navbar_list_item_link:hover::before {
  width: 100%;
}
.country_lang header .navbar_list_item_link {
  color: #fff;
}
header .navbar_list_item_text {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #a7a3a2;
  margin-right: 15px;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 576px) {
  header .navbar_list_item_text {
    margin-right: 5px;
  }
}
header .navbar_list_item.dropdown {
  position: relative;
}
header .navbar_list_item.dropdown:hover .dropdown-menu {
  display: block;
}
header .navbar_list_item.dropdown .dropdown-menu {
  right: 0;
  top: 90%;
  left: auto;
  min-width: 350px;
  padding: 12px 18px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 576px) {
  header .navbar_list_item.dropdown .dropdown-menu {
    right: -50%;
    transform: translateX(9%);
  }
}
header .navbar_list_item.dropdown .dropdown-menu .dropdown_content_title {
  font-size: 0.9rem;
  padding-bottom: 5px;
  position: relative;
}
header .navbar_list_item.dropdown .dropdown-menu .dropdown_content_title::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 15%;
  height: 1.5px;
  background-color: #e51937;
  z-index: 1;
}
header .navbar_list_item.dropdown .dropdown-menu .dropdown_content .dropdown-item {
  padding: 0;
  padding-bottom: 5px;
  margin: 5px 0;
  color: #fff;
  transition: all 0.3s ease-in-out;
  position: relative;
  font-size: 0.9rem;
}
header .navbar_list_item.dropdown .dropdown-menu .dropdown_content .dropdown-item::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0;
  transition: all 0.3s ease-in-out;
  height: 1px;
  background-color: #e51937;
}
header .navbar_list_item.dropdown .dropdown-menu .dropdown_content .dropdown-item:hover {
  background-color: transparent;
}
header .navbar_list_item.dropdown .dropdown-menu .dropdown_content .dropdown-item:hover::before {
  width: 50%;
}
header .navbar_subnavbar {
  margin-top: 10px;
  padding: 15px 0;
  display: none;
}
header .navbar_subnavbar_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
header .navbar_subnavbar_list_item {
  margin: 0 12px;
}
header .navbar_subnavbar_list_item_link {
  color: #a7a3a2;
  font-size: 0.9rem;
  position: relative;
  padding-bottom: 2px;
  transition: all 0.3s ease-in-out;
}
header .navbar_subnavbar_list_item_link::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0;
  height: 1.5px;
  background-color: #e51937;
  transition: all 0.3s ease-in-out;
}
header .navbar_subnavbar_list_item_link:hover {
  color: #fff;
}
header .navbar_subnavbar_list_item_link:hover::before {
  width: 100%;
}

/* ====================================== _____________ Header Styles _____________ ====================================== */
/* ====================================== _____________ Footer Styles _____________ ====================================== */
footer {
  padding-bottom: 15px;
  background-color: #111111;
}
footer .footer {
  padding: 60px 0 30px;
  background-color: #111111;
}
footer .footer_title {
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;
}
footer .footer_list {
  padding: 0;
  margin: 0;
}
footer .footer_list_item {
  margin: 10px 0;
}
footer .footer_list_item-title {
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #a7a3a2;
  font-size: 0.9rem;
}
footer .footer_list_item_link {
  color: #a7a3a2;
  text-transform: uppercase;
  font-size: 0.9rem;
  position: relative;
  padding-bottom: 2px;
  transition: all 0.3s ease-in-out;
}
footer .footer_list_item_link::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0;
  height: 1.5px;
  background-color: #e51937;
  transition: all 0.3s ease-in-out;
}
footer .footer_list_item_link:hover {
  color: #fff;
}
footer .footer_list_item_link:hover::before {
  width: 100%;
}
footer .footer_list_item_link.text-normal {
  text-transform: none;
}
footer .footer_branchDetails {
  color: #a7a3a2;
}
footer .footer_branchDetails_text span {
  display: block;
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 0.9rem;
}
footer .footer_socialList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
footer .footer_socialList_item {
  margin: 0 10px;
}
footer .footer_socialList_item_link {
  color: #a7a3a2;
  position: relative;
  padding-bottom: 2px;
  transition: all 0.3s ease-in-out;
}
footer .footer_socialList_item_link::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0;
  height: 1.5px;
  background-color: #e51937;
  transition: all 0.3s ease-in-out;
}
footer .footer_socialList_item_link:hover {
  color: #fff;
}
footer .footer_socialList_item_link:hover::before {
  width: 100%;
}
footer .copyright {
  padding: 25px 0;
  background-color: #000;
}
footer .copyright p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #a7a3a2;
  margin-bottom: 0;
  text-align: center;
}

/* ====================================== _____________ Footer Styles _____________ ====================================== */
/* ====================================== _____________ Sidebar Styles _____________ ====================================== */
/* ====================================== _____________ Sidebar Styles _____________ ====================================== */
/* ====================================== _____________ Forms Styles _____________ ====================================== */
.form.form_search {
  position: absolute;
  top: -15px;
  left: 0;
  width: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.form.form_search.open {
  width: 200px;
  opacity: 1;
}
.form.form_search .form-group {
  position: relative;
  margin-bottom: 0;
}
.form.form_search .form-group .form-control {
  font-size: 1rem;
  background-color: transparent;
  padding: 8px 15px;
  padding-left: 0;
  display: block;
  border: none;
  border-bottom: 1px solid #a7a3a2;
  box-shadow: none;
  outline: 0;
  border-radius: 0;
}
.form.form_search .form-group .form-control:focus, .form.form_search .form-group .form-control.focused {
  outline: none;
  border-bottom: 1px solid transparent;
}
.form.form_search .form-group .form-control:focus ~ label, .form.form_search .form-group .form-control.focused ~ label {
  top: -10px;
  font-size: 0.9rem;
  color: #e51937;
}
.form.form_search .form-group .form-control:focus ~ .bar::before, .form.form_search .form-group .form-control:focus ~ .bar::after, .form.form_search .form-group .form-control.focused ~ .bar::before, .form.form_search .form-group .form-control.focused ~ .bar::after {
  width: 50%;
}
.form.form_search .form-group .form-control:focus ~ .highlight, .form.form_search .form-group .form-control.focused ~ .highlight {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 0.1s;
  -moz-animation-iteration-count: 0.1s;
  -o-animation-iteration-count: 0.1s;
  animation-iteration-count: 0.1s;
  -webkit-animation-name: inputHighlighter;
  -moz-animation-name: inputHighlighter;
  -o-animation-name: inputHighlighter;
  animation-name: inputHighlighter;
  -webkit-animation-direction: ease;
  -moz-animation-direction: ease;
  -o-animation-direction: ease;
  animation-direction: ease;
}
.form.form_search .form-group label {
  color: #a7a3a2;
  font-size: 1rem;
  font-weight: 600;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 10px;
  transition: all 0.3s ease-in-out;
  margin-bottom: 0;
}
.form.form_search .form-group .bar {
  position: relative;
  display: block;
  width: 100%;
}
.form.form_search .form-group .bar::before, .form.form_search .form-group .bar::after {
  content: "";
  height: 1px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #e51937;
  transition: all 0.3s ease-in-out;
}
.form.form_search .form-group .bar::before {
  left: 50%;
}
.form.form_search .form-group .bar::after {
  right: 50%;
}
.form.form_search .form-group .highlight {
  position: absolute;
  height: 60%;
  width: 100%;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
.form.form_selectBranches {
  position: relative;
}
.form.form_selectBranches .form-control {
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  padding: 0;
  border: none;
}
.form.form_selectBranches .form-control::-ms-expand {
  display: none;
}
.form.form_selectBranches .selectize-control.single .selectize-input,
.form.form_selectBranches .selectize-control.single .selectize-input input {
  background-color: transparent;
  border: 1px solid #a7a3a2;
  padding: 8px 10px;
  width: 100%;
  height: 100%;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
}
.form.form_selectBranches .selectize-control.single .selectize-input:focus, .form.form_selectBranches .selectize-control.single .selectize-input:hover, .form.form_selectBranches .selectize-control.single .selectize-input:visited, .form.form_selectBranches .selectize-control.single .selectize-input:valid, .form.form_selectBranches .selectize-control.single .selectize-input:active,
.form.form_selectBranches .selectize-control.single .selectize-input input:focus,
.form.form_selectBranches .selectize-control.single .selectize-input input:hover,
.form.form_selectBranches .selectize-control.single .selectize-input input:visited,
.form.form_selectBranches .selectize-control.single .selectize-input input:valid,
.form.form_selectBranches .selectize-control.single .selectize-input input:active {
  border-color: #e51937;
}
.form.form_selectBranches .selectize-control.single .selectize-input:after,
.form.form_selectBranches .selectize-control.single .selectize-input input:after {
  display: none;
}
.form.form_selectBranches .selectize-dropdown {
  border: none;
}
.form.form_selectBranches .selectize-dropdown-content {
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) !important;
  border: 1px solid #a7a3a2;
  max-height: 200px;
  overflow-y: scroll;
  width: 100%;
  padding: 10px;
}
.form.form_selectBranches .selectize-dropdown-content::-webkit-scrollbar {
  width: 5px;
}
.form.form_selectBranches .selectize-dropdown-content::-webkit-scrollbar-track {
  border-radius: 0;
}
.form.form_selectBranches .selectize-dropdown-content::-webkit-scrollbar-thumb {
  background: #e51937;
  border-radius: 0px;
}
.form.form_selectBranches .selectize-dropdown-content ::-webkit-scrollbar-thumb:hover {
  background: rgba(229, 25, 55, 0.9);
}
.form.form_selectBranches .selectize-dropdown-content [data-selectable].option {
  color: #a7a3a2;
}
.form.form_selectBranches .selectize-dropdown-content [data-selectable].option:hover, .form.form_selectBranches .selectize-dropdown-content [data-selectable].option.active {
  background-color: #e51937;
  color: #fff;
}
.form.form_selectBranches .submit {
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #e51937;
  color: #fff;
  right: 5px;
  top: 5px;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
  padding: 1px;
  z-index: 9;
}
@media (max-width: 991px) {
  .form.form_selectBranches .submit {
    top: 3px;
  }
}
.form.form_selectBranches .submit:hover {
  background-color: transparent;
  border: 1px solid #e51937;
}

/* ====================================== _____________ Forms Styles _____________ ====================================== */
/* ====================================== _____________ Home Page Styles _____________ ====================================== */
.homePage .banner {
  background-image: url(../img/homePage/bg.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  position: relative;
  position: relative;
}
.homePage .banner::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.homePage .banner_content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
  position: relative;
  z-index: 3;
}
@media (max-width: 911px) {
  .homePage .banner_content {
    width: 100%;
  }
}
.homePage .banner_content_title {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 15px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 3px solid #e51937;
}
.homePage .banner_content_description {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 0;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.homePage .banner_discoverBuy {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  transition: all 0.3s ease-in-out;
}
.homePage .banner_discoverBuy_title {
  font-size: 1.4rem;
  font-weight: 300;
  color: #a7a3a2;
  margin-bottom: 0;
  padding-bottom: 5px;
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.homePage .banner_discoverBuy_title::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0;
  height: 1.5px;
  background-color: #e51937;
  transition: all 0.3s ease-in-out;
}
.homePage .banner_discoverBuy_title.active {
  margin-bottom: 20px;
}
.homePage .banner_discoverBuy_title.active::before {
  width: 120px;
}
.homePage .banner_discoverBuy_title:hover::before {
  width: 120px;
}
.homePage .banner_discoverBuy_list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  display: none;
  transition: all 0.3s ease-in-out;
}
.homePage .banner_discoverBuy_list_item {
  margin: 0 15px;
}
.homePage .banner_discoverBuy_list_item:first-of-type {
  margin-left: 0;
}
.homePage .banner_discoverBuy_list_item_link {
  color: #a7a3a2;
  font-size: 1rem;
  position: relative;
  padding-bottom: 2px;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
}
.homePage .banner_discoverBuy_list_item_link::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0;
  height: 1.5px;
  background-color: #e51937;
  transition: all 0.3s ease-in-out;
}
.homePage .banner_discoverBuy_list_item_link:hover {
  color: #fff;
}
.homePage .banner_discoverBuy_list_item_link:hover::before {
  width: 100%;
}
.homePage .coffee {
  padding: 30px 0;
}
.homePage .coffee_card {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.homePage .coffee_card_body {
  padding: 15px 0;
}
.homePage .coffee_card_body_title {
  margin-bottom: 10px;
  font-size: 1.4rem;
}
.homePage .coffee_card_body_text {
  margin-bottom: 10px 0;
  line-height: 1.3;
}
.homePage .products_solutions {
  position: relative;
}
@media (max-width: 991px) {
  .homePage .products_solutions {
    min-height: 150vh;
    min-height: 1170px;
  }
}
.homePage .products_solutions::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 60%;
  height: 100%;
  background-color: #f3f3f0;
  z-index: -1;
}
@media (max-width: 991px) {
  .homePage .products_solutions::before {
    width: 100%;
    height: 40%;
    background-color: #181818;
  }
}
.homePage .products_solutions::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 40%;
  height: 100%;
  background-color: #181818;
  z-index: -1;
}
@media (max-width: 991px) {
  .homePage .products_solutions::after {
    width: 100%;
    height: 60%;
    top: auto;
    bottom: 0;
    background-color: #f3f3f0;
  }
}
@media (max-width: 991px) {
  .homePage .products_solutions .xs-gray {
    order: 2;
    padding-top: 50px;
  }
}
@media (max-width: 991px) {
  .homePage .products_solutions .xs-black {
    order: 1;
  }
}
.homePage .products_solutions_title {
  font-size: 2.7rem;
}
.homePage .products_solutions_title span {
  font-size: 1.6rem;
}
.homePage .products_solutions_text {
  margin-bottom: 200px;
}
@media (max-width: 991px) {
  .homePage .products_solutions_text {
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .homePage .products_solutions_text {
    max-width: 55%;
  }
}
.homePage .products_solutions_content {
  display: none;
}
.homePage .products_solutions_content.active {
  display: block;
}
.homePage .products_solutions .content .img {
  position: absolute;
  right: -12%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 30;
}
@media (max-width: 991px) {
  .homePage .products_solutions .content .img {
    position: static;
    text-align: center;
    transform: translateY(0);
    margin: 15px 0;
  }
}
.homePage .products_solutions .content .img img {
  filter: drop-shadow(0 15px 20px rgba(0, 0, 0, 0.16));
}
@media (min-width: 992px) and (max-width: 1199px) {
  .homePage .products_solutions .content .img img {
    max-width: 250px;
  }
}
.homePage .products_solutions_nav {
  padding: 15px 0;
}
.homePage .products_solutions_nav_list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.homePage .products_solutions_nav_list_item {
  margin: 0 15px;
}
.homePage .products_solutions_nav_list_item_link {
  color: #a7a3a2;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 2px;
  transition: all 0.3s ease-in-out;
}
.homePage .products_solutions_nav_list_item_link::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0;
  height: 1.5px;
  background-color: #e51937;
  transition: all 0.3s ease-in-out;
}
.homePage .products_solutions_nav_list_item_link:hover {
  color: #fff;
}
.homePage .products_solutions_nav_list_item_link:hover::before {
  width: 100%;
}
.homePage .products_solutions_nav_list_item_link.active {
  color: #fff;
}
.homePage .products_solutions .navigation_content:not(.active) {
  display: none;
}
.homePage .products_solutions .slider {
  height: 500px;
  padding: 100px 65px;
  position: relative;
}
@media (max-width: 991px) {
  .homePage .products_solutions .slider {
    padding: 50px 65px;
    height: 350px;
  }
}
@media (max-width: 576px) {
  .homePage .products_solutions .slider {
    padding: 50px 35px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .homePage .products_solutions .slider {
    padding: 100px 30px 100px 65px;
  }
}
.homePage .products_solutions_swiper {
  height: 160px;
  position: relative;
  z-index: 8;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
}
.homePage .products_solutions_swiper::before, .homePage .products_solutions_swiper::after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 26%;
  background: #181818;
  z-index: 2;
}
.homePage .products_solutions_swiper::before {
  top: 0;
  background: linear-gradient(180deg, #181818 0%, rgba(24, 24, 24, 0) 100%);
}
.homePage .products_solutions_swiper::after {
  bottom: 0;
  background: linear-gradient(180deg, rgba(24, 24, 24, 0) 0%, #181818 100%);
}
.homePage .products_solutions_swiper_slide {
  width: 75%;
  margin-left: auto;
}
@media (max-width: 576px) {
  .homePage .products_solutions_swiper_slide {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .homePage .products_solutions_swiper_slide {
    width: 50%;
    margin: auto;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .homePage .products_solutions_swiper_slide {
    width: 100%;
  }
}
.homePage .products_solutions_swiper_slide.swiper-slide-active .products_solutions_swiper_slide_link p {
  color: #fff;
}
.homePage .products_solutions_swiper_slide.swiper-slide-active .products_solutions_swiper_slide_link p::before {
  opacity: 0;
}
.homePage .products_solutions_swiper_slide.swiper-slide-active .products_solutions_swiper_slide_link p::after {
  opacity: 1;
}
.homePage .products_solutions_swiper_slide p {
  font-size: 0.9rem;
  padding-left: 15px;
  position: relative;
  margin-bottom: 0;
}
.homePage .products_solutions_swiper_slide p::before, .homePage .products_solutions_swiper_slide p::after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-image: url(../img/homePage/bean.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.homePage .products_solutions_swiper_slide p::before {
  opacity: 1;
  filter: grayscale(1);
}
.homePage .products_solutions .swiper-button-next,
.homePage .products_solutions .swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e51937;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  top: auto;
  margin-top: 0;
  bottom: 0;
}
.homePage .products_solutions .swiper-button-next::after,
.homePage .products_solutions .swiper-button-prev::after {
  display: none;
}
.homePage .swiper-button-prev {
  left: auto;
  right: 65px;
}
.homePage .map {
  position: relative;
}
@media (max-width: 576px) {
  .homePage .map {
    padding-top: 50px;
  }
}
.homePage .map_nav {
  padding: 25px 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
.homePage .map_nav_list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.homePage .map_nav_list_item {
  margin: 0 20px;
  position: relative;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.homePage .map_nav_list_item.p_left {
  padding-left: 200px;
}
.homePage .map_nav_list_item_link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #a7a3a2;
  transition: all 0.3s ease-in-out;
  position: relative;
  padding-bottom: 2px;
  transition: all 0.3s ease-in-out;
}
.homePage .map_nav_list_item_link::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0;
  height: 1.5px;
  background-color: #e51937;
  transition: all 0.3s ease-in-out;
}
.homePage .map_nav_list_item_link:hover {
  color: #fff;
}
.homePage .map_nav_list_item_link:hover::before {
  width: 100%;
}
.homePage .map_nav_list_item_link.dropdown-toggle:hover ~ .dropdown-menu {
  display: block;
}
.homePage .map_nav_list_item_link span {
  font-size: 0.9rem;
  margin-right: 15px;
}
.homePage .map_nav_list_item_link.map_search {
  position: relative;
  transition: all 0.3s ease-in-out;
}
.homePage .map_nav_list_item_link.map_search span {
  color: #e51937;
  transition: all 0.3s ease-in-out;
}
.homePage .map_nav_list_item_link.map_search i {
  transition: all 0.3s ease-in-out;
}
.homePage .map_destribution {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #a7a3a2;
  left: 25%;
  width: 20%;
}
@media (max-width: 767px) {
  .homePage .map_destribution {
    position: static;
    top: auto;
    bottom: 0;
    transform: translateY(0);
    padding: 30px 15px;
    width: 100%;
    left: 0;
  }
}
.homePage .map_destribution_title {
  text-transform: uppercase;
}
.homePage .map_destribution_text {
  color: #a7a3a2;
}
.homePage .latest_news {
  padding: 40px 0;
}
.homePage .latest_news_swiper {
  padding: 50px 0;
}
.homePage .latest_news_swiper_slide {
  height: 570px;
  max-width: 300px;
  transition: all 0.3s ease-in-out;
}
.homePage .latest_news_swiper_slide .card {
  height: 100%;
}
.homePage .latest_news_swiper_slide .card .card_header {
  position: relative;
}
.homePage .latest_news_swiper_slide .card .card_header::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.homePage .latest_news_swiper_slide .card .absolute-active {
  display: none;
}
@media (max-width: 767px) {
  .homePage .latest_news_swiper_slide {
    max-width: 225px;
  }
}
.homePage .latest_news_swiper_slide.swiper-slide-active {
  width: 600px;
  max-width: 600px;
}
@media (max-width: 767px) {
  .homePage .latest_news_swiper_slide.swiper-slide-active {
    width: 85%;
    max-width: 85%;
  }
}
.homePage .latest_news_swiper_slide.swiper-slide-active .card .card_header {
  position: relative;
  animation: fadeIn;
  animation-duration: 2s;
  animation-delay: 0.1s;
}
.homePage .latest_news_swiper_slide.swiper-slide-active .card .card_header .absolute-active {
  display: block;
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  padding: 25px 20px;
  z-index: 2;
}
.homePage .latest_news_swiper_slide.swiper-slide-active .card .card_header .absolute-active .subTitle {
  animation: fadeInUp;
  animation-duration: 2s;
  animation-delay: 0.3s;
}
.homePage .latest_news_swiper_slide.swiper-slide-active .card .card_header .absolute-active .card_body_date {
  animation: fadeInUp;
  animation-duration: 2s;
  animation-delay: 0.5s;
}
.homePage .latest_news_swiper_slide.swiper-slide-active .card .card_body {
  padding: 25px 15px;
}
.homePage .latest_news_swiper_slide.swiper-slide-active .card .card_body .card_body_date {
  display: none;
}
.homePage .latest_news_swiper_slide.swiper-slide-active .card .card_body .card_body_title {
  display: none;
}
.homePage .latest_news_swiper_slide.swiper-slide-active .card .card_body .card_body_text {
  animation: fadeInUp;
  animation-duration: 2s;
  animation-delay: 0.7s;
}
.homePage .latest_news_swiper_slide.swiper-slide-active .card .card_body .arrow_link {
  animation: fadeInUp;
  animation-duration: 2s;
  animation-delay: 0.9s;
}
.homePage .latest_news_card {
  position: relative;
  overflow: hidden;
}
.homePage .latest_news_card_header {
  overflow: hidden;
  overflow-x: hidden !important;
}
@media (max-width: 767px) {
  .homePage .latest_news_card_header {
    margin-bottom: 1rem;
  }
}
.homePage .latest_news_card_header img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}
.homePage .testimonials_swiper {
  padding: 40px 0;
}
.homePage .testimonials_swiper_slide {
  transition: all 0.3s ease-in-out;
}
.homePage .testimonials_swiper_slide_card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) !important;
  background-color: #fff;
  padding: 25px 40px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.homePage .testimonials_swiper_slide_card .chat_icon i {
  color: #e51937;
  transition: all 0.3s ease-in-out;
}
.homePage .testimonials_swiper_slide_card .smTitle {
  color: #424242;
  transition: all 0.3s ease-in-out;
}
.homePage .testimonials_swiper_slide.swiper-slide-active .testimonials_swiper_slide_card {
  background-color: #e51937;
  box-shadow: none !important;
}
.homePage .testimonials_swiper_slide.swiper-slide-active .testimonials_swiper_slide_card .chat_icon i {
  color: #fff;
}
.homePage .testimonials_swiper_slide.swiper-slide-active .testimonials_swiper_slide_card .smTitle {
  color: #fff;
}
.homePage .testimonials_swiper_slide.swiper-slide-active .testimonials_swiper_slide_card p,
.homePage .testimonials_swiper_slide.swiper-slide-active .testimonials_swiper_slide_card .p {
  color: #fff;
}
.homePage .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  border: 2px solid #e51937;
  background-color: transparent;
  width: 10px;
  height: 10px;
}
.homePage .swiper-pagination-bullet-active {
  background-color: #e51937 !important;
}
.homePage .preparation {
  background-image: url(../img/homePage/preparation-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 150px 0;
}
@media (max-width: 991px) {
  .homePage .preparation {
    padding: 50px 0;
  }
}
.homePage .preparation .play_icon {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #e51937;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  margin: auto;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}
.homePage .preparation .play_icon:hover {
  background-color: transparent;
  border-color: #e51937;
}

/* ====================================== _____________ Home Page Styles _____________ ====================================== */
.banner.search {
  background-image: url(../img/search/bg.jpg);
}

.result ul {
  margin-bottom: 0;
}
.result ul li {
  margin: 1.5rem 0;
}
.result ul li p {
  margin-bottom: 7px;
}
.result ul li:last-child {
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .result h5 {
    font-size: 1rem;
  }

  .result p {
    font-size: 0.8rem;
    margin: 0.8rem 0 !important;
  }
}
@media (max-width: 991px) {
  .result p {
    margin: 0.6rem 0 !important;
  }
}
@media (max-width: 768px) {
  .result h3 {
    font-size: 1rem;
  }

  .result .media {
    display: block;
  }
  .result .media img {
    width: 100%;
  }
  .result .media .media-body {
    padding: 0.8rem 0;
  }
  .result .media .media-body p {
    margin: 0.5rem 0 !important;
  }
}
.branches .branch2 {
  margin-top: 4rem;
}

@media (min-width: 1200px) {
  .coffe_preparation .container {
    max-width: 85%;
  }
}
/* ====================================== _____________ News Page Styles _____________ ====================================== */
.newsPage {
  background-color: #f1f1f1;
}
.newsPage .banner.news {
  background-image: url(../img/news/bg.jpg);
}

/* ====================================== _____________ News Page Styles _____________ ====================================== */
/* ====================================== _____________ Gallery Page Styles _____________ ====================================== */
.photoGalleryPage .banner.photo_gallery {
  background-image: url(../img/photo_gallery/bg.jpg);
}

/* ====================================== _____________ Gallery Page Styles _____________ ====================================== */
/* ====================================== _____________ Theme Styles _____________ ====================================== */
/* ====================================== _____________ Theme Styles _____________ ====================================== */

/*# sourceMappingURL=style.css.map */
