.main_list {
    ul {
        li {
            a {
                span {
                    color: grey;
                    position: relative;
                }
            }

            &:nth-child(2) {
                padding-bottom: 10px;
            }
            
            &:last-child {
                a {
                    span {
                        &::before {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 1px;
                            background-color: grey;
                            transition: $mainTransition;
                            -webkit-transition: $mainTransition;
                            -moz-transition: $mainTransition;
                            -ms-transition: $mainTransition;
                            -o-transition: $mainTransition;
                        }      
                        &:hover {
                            &::before {
                                width: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .main_list {
        h5 {
            margin-bottom: 1rem;
        }
    } 
}