/* ====================================== _____________ Variables Styles _____________ ====================================== */
// start color//
$mainColor: #e51937;
$blkColor: #000;
$blkColor2: #181818;
$onBlkColor: #111111;
$whtColor: #fff;
$offWhiteColor: #a7a3a2;
$textColor: #5c5555;
$grayColor: #f3f3f0;
// ende color//

// Font Sizes //
$smFont: .8rem; // 12px
$paragraphFont: .9rem; // 13.5px;
$mainFont: 1rem; // 16px;
$bigFont: 1.2rem; // 19px;
$headFont: 1.4rem; // 22px;
$bigHeadFont: 1.6rem; // 25px;
$hugeFont: 1.8rem; // 28px;
$hugeheadFont: 2rem; // 31px;
$advancedFont: 2.2rem; // 34px;
$bannerFont: 2.7rem; // 43px;
// Font Sizes //

// Transition //
$fastTransition: all .2s ease-in-out;
$mainTransition: all .3s ease-in-out;
$slowTransition: all .5s ease-in-out;
// Transition //

// Fonts Family //
$mainFamilyFont: 'Avenir LT Std';
// Fonts Family //
/* ====================================== _____________ Variables Styles _____________ ====================================== */