.banner{
    &.search{
        background-image: url(../img/search/bg.jpg);
    }
}

.result {
    ul {
        margin-bottom: 0;
        li {
            margin: 1.5rem 0;
           
            p {
                margin-bottom: 7px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media (max-width: 1200px) {
    .result h5 {
        font-size: 1rem;
    }

    .result p {
        font-size: 0.8rem;
        margin: 0.8rem 0 !important; 
    }
}

@media (max-width: 991px) {
    .result p {
        margin: 0.6rem 0 !important; 
    }
}

@media (max-width: 768px) {
    .result h3 {
        font-size: 1rem;
    }

    .result {
        .media {
            display: block;
            img {
                width: 100%;
            }
            .media-body {
                padding: 0.8rem 0;
                p {
                    margin: 0.5rem 0 !important;
                }
            }
        }
    }
}